body #hex{
  background-color:#FCDCED;
}

h1 #hex{
  background-color:#FCDCED;
  color: lightpink;
  text-align: center;
  font-family: Aptos SemiBold;
}

h4 {
  color: grey;
  text-align: left;
  margin-left: 50px; 
  font-family: Aptos Serif;
}

p {
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Aptos;
  font-size: 16px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid;
  padding: 2px;
  text-align: center;
  height: 30px;
  margin-left: 50px
}
