css
body {
  background-color: powderblue;
}

h1 {
  color: slategrey;
  text-align: center;
  font-family: Georgia, serif;
}

h2 {
  color: lightslategrey;
  text-align: left;
  margin-left: 50px; 
  font-family: Georgia, serif;
}

p {
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Aptos;
  font-size: 16px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid;
  padding: 2px;
  text-align: center;
}
img {
  max-width: 25%;
  height: auto;
}
